---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Сайт собран на коленке <a href="https://mitryakov.dev" target="_blank">Игорем</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
